{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {{- if (eq .Section "post") -}}
<span class="read-time">{{ i18n "TimeToRead" }}: &nbsp;&asymp;&nbsp; {{ .ReadingTime }} {{ i18n "minute" }} ({{ .WordCount }} {{ i18n "words"}})</span>{{- end -}}
{{ if (.Params.toc) }}
		<h3>{{ i18n "Contents" }}</h3>
      <aside>
        {{ .TableOfContents }}
      </aside>
{{ end }}
      <article role="main" class="blog-post">

        {{ .Content }}
      </article>

      <ul class="pager blog-pager">
        {{ if .PrevInSection }}
          <li class="previous">
            <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
          </li>
        {{ end }}
        {{ if .NextInSection }}
          <li class="next">
            <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
          </li>
        {{ end }}
      </ul>

      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
        {{ if .Site.Config.Services.Disqus.Shortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
      {{ end }}
        <div class="comments">
      {{ partial "disqus.html" . }}
    </div>
    </div>
  </div>
</div>
{{ end }}
